<div class="research_form">
    <h3>Formulaire de recherche De Chambre</h3>
    <form method="get">
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>