{% extends ('base.html.twig') %}

{% block body %}
<div class="container">
    <p class="text-center" style="font-size: 2em">Find if your room is available <br />
    If your room has a "1" status for availibity, it means IT IS NOT AVAILABLE.
        A white space means IT'S AVAILABLE</p>
    
    <table class="table-fill">
        <thead>
        <tr>
            <th class="text-left">Number of Room</th>
            <th class="text-left">Availability</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        {% for room in listRoom %}
        <tr>
            <td class="text-left">{{ room.roomNumber }}</td>
            <td class="text-left">{{ room.book }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}